html, body {
  background-color: #FFF2FF;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.header, .content, .footer {
  position: absolute;
  padding: 20px;
  width: 100%;
}

.header, .footer {
  background-color: #8F728B;
  height: 60px;
}

.header {
  top: 0;
}

.content {
  background-color: white;
  top: 60px;
  bottom: 60px;
}

.footer {
  bottom: 0;
}

.footer p {
  color: white;
  font-size: 8px;
  font-style: italic;
  padding-left: 10px;
}

a {
  color: white; 
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

a:hover {
  color: #E5B9E1; 
}
