body {
  background-color: #FFF2FF;
  margin: 0px;
}

.header, .footer {
  background-color: #8F728B;
  width: 100%;
  padding: 30px;
}

.content {
  background-color: white;
  width: 100%;
  padding: 30px;
}
