html, body {
  background-color: #FFF2FF;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.header, .content, .footer {
  position: absolute;
  padding: 20px;
}

.header, .footer {
  background-color: #8F728B;
  height: 60px;
  width: 100%;
}

.header {
  top: 0;
}

.header a {
 color: white; 
}

.content {
  background-color: white;
  top: 60px;
  bottom: 60px;
}

.footer {
  bottom: 0;
}

.footer a {
 color: white; 
}
